//-
  Global button component.

  @param {*}       [$descriptor]            - Descriptor of this button. If this
                                              is a string, it will be used as
                                              the label of the button. Otherwise
                                              if this is an object, its
                                              properties will define the button.
  @param {string}  [$descriptor.iconClass]  - Icon class.
  @param {string}  [$descriptor.iconUrl]    - Icon url.
  @param {string}  [$descriptor.label]      - Label of the button.
  @param {string}  [$descriptor.labelClass] - Label class.
  @param {string}  [$descriptor.localized]  - Specifies whether the label is
                                              already localized.
  @param {boolean} [$descriptor.submit]     - Specifies whether this button
                                              submits a form.
  @param {string}  [$descriptor.href]       - Specifies a hyperlink.
mixin button($descriptor)
  if (typeof $descriptor === 'object')
    - $type = ($descriptor.submit === true) ? 'submit' : 'button'

    if (typeof $descriptor.href === 'string')
      a(is='x-a' type=$type href=$descriptor.href)&attributes(attributes)
        +button-body($descriptor): block
    else
      button(is='x-button' type=$type href=$descriptor.href)&attributes(attributes)
        +button-body($descriptor): block
  else
    button(is='x-button' type='button')&attributes(attributes)
      +button-body({ label: $descriptor }): block

//-
  Body of a button.

  @param {string|Object} $descriptor

  @see +button()
mixin button-body($descriptor)
  if ($descriptor.iconUrl)
    span(type='icon' style=`background-image: url(${$descriptor.iconUrl})`)
  else if ($descriptor.iconClass)
    span(type='icon' class=$descriptor.iconClass)
  if ($descriptor.label)
    if ($descriptor.localized === true || $descriptor.localized === undefined)
      span(type='label' class=$descriptor.labelClass)= $descriptor.label
    else
      span(type='label' class=$descriptor.labelClass)= __($descriptor.label)
  if (block)
    block
