//- © Andrew Wei

include /includes/button
include /includes/monogram
include /includes/grid-icon

mixin global-nav($nav)
  nav(is='global-nav')&attributes(attributes)
    if $nav.home
      +button({ href: $nav.home })(name='home-button').home
        +monogram()
    if $nav.grid
      +button({ href: $nav.grid })(name='grid-button').logs
        +grid-icon()
    if $nav.logs
      +button({ href: $nav.logs })(name='logs-button').logs
        +grid-icon()
