//- (c) Andrew Wei

include /includes/button
include /includes/monogram
include /includes/grid-icon

mixin global-nav($nav)
  nav(is='global-nav')&attributes(attributes)
    if $nav.up
      +button({ href: $nav.up })(name='up-button').triangle.up
    if $nav.down
      +button({ href: $nav.down })(name='down-button').triangle.down
    if $nav.right
      +button({ href: $nav.right })(name='right-button').triangle.right
    if $nav.left
      +button({ href: $nav.left })(name='left-button').triangle.left
    if $nav.home
      +button({ href: $nav.home })(name='home-button').home
        +monogram()
    if $nav.grid
      +button({ href: $nav.grid })(name='grid-button').logs
        +grid-icon()
    if $nav.logs
      +button({ href: $nav.logs.href })(name='logs-button').logs
        +grid-icon()
