mixin log-entry($entry)
  -
    function getIdx(log) {
      const entries = (collections && collections.log) || (data && data.log);
      if (!entries) return -1;

      const l = entries.length;

      for (let i = 0; i < l; i++) {
        if (entries[i].id === log.id) return l-i-1;
      }

      return -1;
    }
  a(type='button' is='log-entry' href=p($entry.path))&attributes(attributes)
    div.wrapper
      h2.title= $entry.title
      span.date(type='label')= m($entry.date).format('MMM DD YY')
      span.number(type='label')= getIdx($entry)
