//- © Andrew Wei

mixin monogram()
  svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 70 70' style='enable-background:new 0 0 70 70;' xml:space='preserve' preserveaspectratio='xMidYMid')
    circle.dot-1(cx='5.3' cy='49.8' r='5.3')
    circle.dot-2(cx='5.3' cy='35' r='5.3')
    circle.dot-3(cx='5.3' cy='20.2' r='5.3')
    circle.dot-4(cx='20.2' cy='20.2' r='5.3')
    circle.dot-5(cx='35' cy='20.2' r='5.3')
    circle.dot-6(cx='35' cy='35' r='5.3')
    circle.dot-7(cx='35' cy='49.8' r='5.3')
    circle.dot-8(cx='49.8' cy='49.8' r='5.3')
    circle.dot-9(cx='64.7' cy='49.8' r='5.3')
    circle.dot-10(cx='64.7' cy='35' r='5.3')
    circle.dot-11(cx='64.7' cy='20.2' r='5.3')
