//- © Andrew Wei

include /includes/button
include /includes/monogram

mixin name-card()
  div(is='name-card')&attributes(attributes)
    section.logo
      +monogram()
    section.name
      h1.full-name #{__('full-name')}
    section.position
      span(type='label').position #{__('software-engineer')}
      span(type='label').position #{__('experience-designer')}
      span(type='label').position #{__('illustrator')}
    section.connect
      if _.get(data, 'identity.length')
        each identity in data.identity
          +button({ iconClass: _.toLower(identity.medium), href: identity.link })

