---
title: 'Mac: Single-User Mode'
cover: 'https://andr-mu.cdn.prismic.io/andr-mu/40c5326d0be5d9c6d4df7664a3c97ea5d070c706_single-user-mode-cover.jpg'
markdown: "<h2 id=\"how-to-boot-into-single-user-mode-on-a-mac\">How to boot into Single-User Mode on a Mac</h2>\n<p>On bootup, hold down ⌘S until the screen turns black.</p>\n<h2 id=\"tricks\">Tricks</h2>\n<ol>\n<li><p>The filesystem is by default read-only in Single-User Mode, which prevents writing files in case you need to put important system files back into their original place. To make the filesystem writable, execute the following command:</p>\n<pre><code class=\"language-bash\"> $ mount -uw /\n</code></pre>\n</li>\n</ol>\n"
date: '2014-03-16'
id: V22rGyUAAGMSR9Ln
uid: mac-single-user-mode
type: log
tags:
    - hacks
---
