#home
  +ftl
  +fvcl
  background: get-color('black')
  height: 100%
  overflow: hidden
  padding: 0 10%
  perspective: 800px
  width: 100%

  +data('state', 'none')
    +pointable(false)
    z-index: 0

  +data('state', 'active')
    +pointable(true)
    z-index: 10
