// © Andrew Wei

=log-padding-h()
  +padding(null 30px)
  +screen('>mobile')
    +padding(null 50px)
  +screen('>phablet')
    +padding(null 80px)

=log-margin-h()
  +margin(null 50px)
  +screen('>mobile')
    +margin(null 25%)
  +screen('>phablet')
    +margin(null 30%)

=log-paragraph-space($spacing:1.5em)
  & + p
    +margin($spacing null null null)

=log-leading-space($spacing:1.5em)
  * + &:not(:first-child)
    +margin($spacing null null null)

=log-trailing-space($spacing:1.5em)
  +margin(null null $spacing null)

+element('page-log')
  +overflow(hidden scroll)
  +size(100%)

  #inner-page
    +min-size(100%)
    +size(100% auto)
    transform: translate3d(0, 0, 0)

  +name('header')
    +display('boxv')
    +size(100% 100vh)
    transform: translate3d(0, 0, 0)

    +name('info')
      +max-size(450px none)
      +padding(10%)
      +size(100% auto)

      +screen('>mobile')
        +padding(0)

    +name('title')
      opacity: 0
      transform: translate3d(0, 40px, 0)

    +name('date')
      +display('block')
      +font('m', 'd', 'n')
      +margin(10px 0)
      opacity: 0
      transform: translate3d(0, 40px, 0)

    +name('tags')
      +display('box>', left center)
      +margin(10px 0)
      +size(100% auto)
      opacity: 0
      transform: translate3d(0, 40px, 0)

      +buttons()
        +space-between(7px)

  +name('contents')
    +padding(200px 0)
    +log-padding-h()
    +size(100% auto)
    background: get-color('black')
    opacity: 0
    transform: translate3d(0, 100px, 0)

    p
      +log-paragraph-space()

    h2
      +log-leading-space(3em)
      +log-trailing-space()

    h3
      +log-leading-space(2em)
      +log-trailing-space(1em)

    h4
      +log-leading-space(2em)
      +log-trailing-space(1em)

    pre
      +log-trailing-space()
      +font('m', null, 'n')
      +size(100% auto)

      span.line-numbers-rows
        margin-top: -3px
        opacity: .3

      code
        +font('m', null, 'n')

    blockquote
      +margin(null 10px)
      +log-leading-space(4em)
      +log-trailing-space(4em)

      +screen('>phablet')
        +margin(null 30px)

    .MathJax_SVG svg *,
    .MathJax_SVG_Display svg *
      fill: get-color('white')

  +name('footer')
    +display('box>')
    +margin(-1px null null null)
    +overflow(hidden)
    +padding(60px 0)
    +size(100% auto)
    background: get-color('black')
    transform: translate3d(0, 0, 0)

    +buttons()
      +space-between(30px, '>')

  +name('related')
    +display('boxv', top center)
    +padding(100px 0)
    +size(100% auto)
    background: get-color('black', .95)
    transform: translate3d(0, 0, 0)

  .tags
    +display('box>')
    +margin(0 0 50px 0)

  .grid
    +display('grid>1@85%/270px|30px')
    +max-size(350px none)

    +screen('>%s', 650px)
      +display('grid>2@100%/270px|30px')
      +max-size(650px none)

    +screen('>%s', 900px)
      +display('grid>3@100%/270px|30px')
      +max-size(900px none)

    +element('log-entry')
      background: get-color('very-dark-grey')

      +state('hover')
        background: get-color('black')

