// (c) Andrew Wei

+element('page-log')
  +overflow(hidden scroll)
  +size(100%)

  #inner-page
    +min-size(100%)
    +size(100% auto)

  +name('header')
    +display('boxv')
    +size(100% 100vh)

    +name('info')
      +max-size(450px none)
      +padding(10%)
      +size(100% auto)

      +screen('>mobile')
        +padding(0)

    +name('title')
      opacity: 0
      transform: translate3d(0, 40px, 0)

    +name('date')
      +display('block')
      +font('m', 'd', 'n')
      +margin(10px 0)
      opacity: 0
      transform: translate3d(0, 40px, 0)

    +name('tags')
      +display('box>', left center)
      +margin(10px 0)
      +size(100% auto)
      opacity: 0
      transform: translate3d(0, 40px, 0)

      +buttons()
        +space-between(7px)

  +name('contents')
    +padding(100px 0)
    +size(100% auto)
    background: get-color('very-dark-grey')
    opacity: 0
    transform: translate3d(0, 100px, 0)

    .slice
      +data('slicetype', 'text')
        +padding(50px 30px)

        +screen('>mobile')
          +padding(50px 20%)

      +data('slicetype', 'quote')
        +margin(0 50px)
        +padding(60px 50px)
        background: get-color('white')
        border-radius: 4px

        +screen('>mobile')
          +margin(0 25%)

        +labels()
          color: get-color('black')

      pre
        +size(100% auto)
        +overflow(scroll)
        box-sizing: border-box

  +name('footer')
    +size(100% 100px)

