// (c) Andrew Wei

+element('page-log')
  +overflow(hidden scroll)
  +size(100%)
  -webkit-overflow-scrolling: touch

  #inner-page
    +size(100% calc(100% + 1px))

  +name('header')
    +display('boxv')
    +size(100%)

    +name('info')
      +max-size(450px none)
      +padding(10%)
      +size(100% auto)

      +screen('>mobile')
        +padding(0)

    +name('title')
      opacity: 0
      transform: translate3d(0, 40px, 0)

    +name('date')
      +display('block')
      +font('m', 'd', 'n')
      +margin(10px 0)
      opacity: 0
      transform: translate3d(0, 40px, 0)

    +name('tags')
      +display('box>', left center)
      +margin(10px 0)
      +size(100% auto)
      opacity: 0
      transform: translate3d(0, 40px, 0)

      +buttons()
        +space-between(7px)

  +name('contents')
    +padding(100px 0)
    +size(100% auto)
    background: get-color('very-dark-grey')
    opacity: 0

    .slice
      +data('slicetype', 'text')
        +padding(50px 20%)

      +data('slicetype', 'quote')
        +margin(0 25%)
        +padding(60px 50px)
        background: get-color('white')
        border-radius: 4px

        +labels()
          color: get-color('black')

      p, li
        +font('ss', 'd', 'n')
        line-height: 1.5em

        & + p
          margin-top: 30px

      h2
        & + p,
        & + ul,
        & + ol
          margin-top: 30px

      h3
        & + p,
        & + ul,
        & + ol
          margin-top: 10px

      pre
        +overflow(scroll)


  +name('footer')
    +size(100% 100px)

