//- (c) Andrew Wei

include /includes/common/button

mixin global-nav()
  nav(is='global-nav')&attributes(attributes)
    +button({ href: '/' })(name='home-button')
    +button({ href: '/logs/' })(name='logs-button')
