//- (c) Andrew Wei

mixin log-entry()
  a(type='button' is='log-entry')&attributes(attributes)
    div.wrapper
      h2.title Migrating an iOS App From Paid to Freemium
      span.date(type='label')= m('2016-06-16').format('MMM DD YY')

