+font-face(roboto, '/assets/fonts/Roboto-Light.ttf')
+font-face(roboto, '/assets/fonts/Roboto-LightItalic.ttf')
+font-face(roboto, '/assets/fonts/Roboto-Regular.ttf')
+font-face(roboto, '/assets/fonts/Roboto-Italic.ttf')
+font-face(roboto, '/assets/fonts/Roboto-Bold.ttf')
+font-face(roboto, '/assets/fonts/Roboto-BoldItalic.ttf')
+font-face(roboto-slab, '/assets/fonts/RobotoSlab-Light.ttf')
+font-face(roboto-slab, '/assets/fonts/RobotoSlab-Regular.ttf')
+font-face(roboto-slab, '/assets/fonts/RobotoSlab-Bold.ttf')
+font-face(inconsolata, '/assets/fonts/Inconsolata-Regular.ttf')

=title
  font-family: roboto-slab
  font-size: 50px
  font-weight: 400

=h1
  font-family: roboto-slab
  font-size: 36px
  font-weight: 400

=h2
  font-family: roboto
  font-size: 36px
  font-weight: 400

=h3
  font-family: roboto
  font-size: 24px
  font-weight: 400

=h4
  font-family: roboto
  font-size: 18px
  font-weight: 400

=p1
  font-family: roboto
  font-size: 18px
  font-weight: 300

=p2
  font-family: roboto
  font-size: 14px
  font-weight: 400

=p3
  font-family: inconsolata
  font-size: 18px
  font-weight: 400

=a1
  font-family: roboto
  font-size: 18px
  font-weight: 400

=b1
  font-family: inconsolata
  font-size: 14px
  font-weight: 400

=c1
  font-family: inconsolata
  font-size: 400

#{select-texts()}
  +p1
  color: get-color('white')
  line-height: 1.8em

  a
    +a1

code
  +padding(3px 4px)
  +c1
  background: get-color('very-dark-grey') !important
  border-radius: 3px
  color: get-color('white') !important
  white-space: pre-line
  font-style: normal

pre
  +overflow(scroll)
  +padding(1em)
  -webkit-overflow-scrolling: touch;
  border-radius: 3px
  box-sizing: border-box
  background: get-color('very-dark-grey') !important
  color: get-color('white')

  code
    +padding(0)

blockquote
  +padding(40px 30px)
  border: 1px solid get-color('white', .1)

  +screen('>mobile')
    +padding(60px 50px)

strong
  font-weight: 700

#{select-headings()}
  color: get-color('white')

#{select-list-items()}
  +p1
  color: get-color('white')
  line-height: 1.8em

  a
    +a1

  ol &
    list-style: decimal

#{select-links()}
  +transition(opacity, .3s, ease-out)
  color: get-color('white')
  border-bottom: 1px solid get-color('white', .2)

  +hwot
    opacity: .6

ol,
ul
  +padding(null null null 40px)

  ol
    & li
      list-style: lower-alpha

    ol
      & li
        list-style: lower-roman

h1
  +h1
  letter-spacing: 1px
  line-height: 1em
  text-transform: uppercase

  +screen('>mobile')
    +title

h2
  +h2
  letter-spacing: 1px
  text-transform: uppercase

h3
  +h3
  letter-spacing: 1px
  text-transform: none

h4
  +h4
  letter-spacing: 1px
  text-transform: none
