$font-family-sans-serif: roboto
$font-family-serif: roboto-slab
$font-family-monospace: inconsolata

$font-size-extra-small: 14px
$font-size-small: 18px
$font-size-medium: 24px
$font-size-large: 36px
$font-size-extra-large: 50px

$font-weight-sans-serif-light: 200
$font-weight-sans-serif-normal: 300
$font-weight-sans-serif-bold: 600
$font-weight-serif-light: 300
$font-weight-serif-normal: 400
$font-weight-serif-bold: 700
$font-weight-monospace-light: 400
$font-weight-monospace-normal: 400
$font-weight-monospace-bold: 400

@font-face
  font-family: roboto
  src: url(/assets/fonts/Roboto-Light.ttf) format('opentype')
  font-style: normal
  font-weight: 200

@font-face
  font-family: roboto
  src: url(/assets/fonts/Roboto-Regular.ttf) format('opentype')
  font-style: normal
  font-weight: 300

@font-face
  font-family: roboto
  src: url(/assets/fonts/Roboto-Bold.ttf) format('opentype')
  font-style: normal
  font-weight: 600

@font-face
  font-family: roboto
  src: url(/assets/fonts/Roboto-LightItalic.ttf) format('opentype')
  font-style: italic
  font-weight: 200

@font-face
  font-family: roboto
  src: url(/assets/fonts/Roboto-Italic.ttf) format('opentype')
  font-style: italic
  font-weight: 300

@font-face
  font-family: roboto
  src: url(/assets/fonts/Roboto-BoldItalic.ttf) format('opentype')
  font-style: italic
  font-weight: 600

@font-face
  font-family: roboto-slab
  src: url(/assets/fonts/RobotoSlab-Light.ttf) format('opentype')
  font-style: normal
  font-weight: 300

@font-face
  font-family: roboto-slab
  src: url(/assets/fonts/RobotoSlab-Regular.ttf) format('opentype')
  font-style: normal
  font-weight: 400

@font-face
  font-family: roboto-slab
  src: url(/assets/fonts/RobotoSlab-Bold.ttf) format('opentype')
  font-style: normal
  font-weight: 700

@font-face
  font-family: inconsolata
  src: url(/assets/fonts/Inconsolata-Regular.ttf) format('opentype')
  font-style: normal
  font-weight: 400

#{select-texts()}
  +font('ss', 'd', 'l')
  color: get-color('white')
  line-height: 1.8em

  a
    +font('ss', 'd', 'n')

code
  +padding(3px 4px)
  +font('m', null, 'n')
  background: get-color('very-dark-grey') !important
  border-radius: 3px
  color: get-color('white') !important
  white-space: pre-line
  font-style: normal

pre
  +overflow(scroll)
  +padding(1em)
  border-radius: 3px
  box-sizing: border-box
  background: get-color('very-dark-grey') !important
  color: get-color('white')

  code
    +padding(0)

blockquote
  +padding(40px 30px)
  border: 1px solid get-color('white', .1)

  +screen('>mobile')
    +padding(60px 50px)

strong
  font-weight: get-font-weight('b', 'ss')

#{select-headings()}
  color: get-color('white')

#{select-list-items()}
  +font('ss', 'd', 'l')
  color: get-color('white')
  line-height: 1.8em

  a
    +font('ss', 'd', 'n')

  ol &
    list-style: decimal

#{select-links()}
  +transition(opacity, .3s, ease-out)
  color: get-color('white')
  border-bottom: 1px solid get-color('white', .2)

  &:hover
    opacity: .6

ol,
ul
  +padding(null null null 40px)

  ol
    & li
      list-style: lower-alpha

    ol
      & li
        list-style: lower-roman

h1
  +font('s', 'l', 'n')
  letter-spacing: 1px
  line-height: 1em
  text-transform: uppercase

  +screen('>mobile')
    +font('s', 'xl', 'n')

h2
  +font('ss', 'l', 'n')
  letter-spacing: 1px
  text-transform: uppercase

h3
  +font('ss', 'm', 'n')
  letter-spacing: 1px
  text-transform: none

h4
  +font('ss', 's', 'n')
  letter-spacing: 1px
  text-transform: none
