// (c) Andrew Wei

$font-family-sans-serif: 'proxima-nova', 'Proxima Nova', sans-serif
$font-family-serif: 'roboto-slab', 'Roboto Slab', serif
$font-family-monospace: 'inconsolata', 'Inconsolata', monospace

$font-size-extra-small: 14px
$font-size-small: 18px
$font-size-medium: 24px
$font-size-large: 42px
$font-size-extra-large: 60px

$font-weight-sans-serif-light: 100
$font-weight-sans-serif-normal: 300
$font-weight-sans-serif-bold: 400
$font-weight-serif-light: 300
$font-weight-serif-normal: 400
$font-weight-serif-bold: 700
$font-weight-monospace-light: 500
$font-weight-monospace-normal: 500
$font-weight-monospace-bold: 500

+labels()
  +font('ss', null, 'l')
  color: get-color('white')

+list-items()
  +font('ss', null, 'l')
  color: get-color('white')

  ol &
    list-style: decimal

ol
  +padding(null null null 30px)

+links()
  +transition(opacity, .3s, ease-out)
  color: get-color('blue');

  +state('hover')
    opacity: .6

h1
  +font('s', 'l', 'n')
  letter-spacing: 1px
  line-height: 1em
  text-transform: uppercase

  +screen('>phablet')
    +font('s', 'xl', 'n')

h2
  +font('ss', 'm', 'n')

  p + &,
  ol + &,
  ul + &
    margin-top: 40px

h3
  +font('ss', 'm', 'n')
