body
  +overflow(hidden)
  background: get-color('grey')
  perspective: 800px

#cover
  +align(fixed)
  +size(100vw 100vh)
  backface-visibility: hidden
  opacity: 0
  perspective: 800px
  transform: translate3d(0, 0, -300px)

  +name('background')
    +align()
    +size(100%)
    +transition(transform opacity, .4s, ease-out)
    backface-visibility: hidden
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    transform: translate3d(0, 0, 0)
    &::before
      +align()
      +size(100%)
      +transition(opacity, .3s, ease-out)
      background: get-color('dark-grey')
      content: ''
      opacity: .3

  +data('state', 'hidden')
    +name('background')
      transform: translate3d(0, 0, -300px)

      &::before
        opacity: 0

#paginator
  +align(bottom fixed)
  +display('box>')
  +padding(30px)
  +size(100% auto)
  opacity: 0
  transform: translate3d(0, 100px, 0)
  z-index: 1000

  #{select-buttons()}
    +margin(null 2px)
    +transition(opacity transform, .4s, ease-out)
    opacity: .6
    transform: scale(1)

    &:hover
      opacity: 1
      transform: scale(1.1)

    +data('state', 'active')
      pointer-events: none
      opacity: 1
      transform: scale(1.1)

    &.arrow
      +margin(-4px 10px 0)

#global-nav
  +align(fixed)
  +size(100%)
  z-index: 1000

#page
  +tl
  height: 100%
  overflow: hidden
  width: 100%
