// © Andrew Wei

#{select-buttons()}
  &.home
    +size(30px)
    svg
      +size(100%)
      +overflow(visible)

      circle
        +transition(fill, .6s, ease-out)
        fill: get-color('white')
        transform-origin: center

    &:hover
      svg
        circle
          fill: get-color('black')

        @keyframes dot-pulse
          0%
            opacity: 1
          50%
            opacity: 0
          100%
            opacity: 1

        .dot-1
          +animation(dot-pulse, 7s, ease-out, 0s, infinite)
        .dot-6
          +animation(dot-pulse, 5s, ease-out, .6s, infinite)
        .dot-8
          +animation(dot-pulse, 3s, ease-out, .8s, infinite)
        .dot-11
          +animation(dot-pulse, 2s, ease-out, .2s, infinite)

  &.logs
    +size(18px)
    background: transparent

    #{select-headings()}, #{select-texts()}
      +font('m', 'xs', 'l')
      +margin(null null 0px null)
      +transition(transform opacity, .4s, cubic-bezier(.17,.67,.3,1.23))
      color: get-color('black')
      opacity: 0
      text-transform: uppercase
      transform: translate3d(0, 20px 0)

    svg
      +size(100%)

      *
        +transition(fill, .3s, cubic-bezier(.17,.67,.3,1.23))
        fill: get-color('white')

    &:hover
      #{select-headings()}, #{select-texts()}
        opacity: 1
        transform: translate3d(0, 0, 0)

      svg
        *
          fill: get-color('white')

        $rotate-duration: 2s

        .tl
          +animation(rotate-tl, $rotate-duration, ease-out, 0s, infinite)
            @keyframes rotate-tl
              0%
                transform: translate3d(0, 0, 0)
              25%
                transform: translate3d(35px, 0, 0)
              50%
                transform: translate3d(35px, 35px, 0)
              75%
                transform: translate3d(0, 35px, 0)
              100%
                transform: translate3d(0, 0, 0)

        .tr
          +animation(rotate-tr, $rotate-duration, ease-out, 0s, infinite)
            @keyframes rotate-tr
              0%
                transform: translate3d(0, 0, 0)
              25%
                transform: translate3d(0, 35px, 0)
              50%
                transform: translate3d(-35px, 35px, 0)
              75%
                transform: translate3d(-35px, 0, 0)
              100%
                transform: translate3d(0, 0, 0)

        .bl
          +animation(rotate-bl, $rotate-duration, ease-out, 0s, infinite)
            @keyframes rotate-bl
              0%
                transform: translate3d(0, 0, 0)
              25%
                transform: translate3d(0, -35px, 0)
              50%
                transform: translate3d(35px, -35px, 0)
              75%
                transform: translate3d(35px, 0, 0)
              100%
                transform: translate3d(0, 0, 0)

        .br
          +animation(rotate-br, $rotate-duration, ease-out, 0s, infinite)
            @keyframes rotate-br
              0%
                transform: translate3d(0, 0, 0)
              25%
                transform: translate3d(-35px, 0, 0)
              50%
                transform: translate3d(-35px, -35px, 0)
              75%
                transform: translate3d(0, -35px, 0)
              100%
                transform: translate3d(0, 0, 0)

      &::before
        transform: scale(1)

  &.cancel
    +size(20px)
    +transition(opacity, .3s, ease-out)
    background: transparent

    &:hover
      opacity: .6

  &.arrow
    +size(15px)
    +transition(opacity, .3s, ease-out)
    background: transparent

    &:hover
      opacity: .6 !important

  &.triangle
    +size(0px)
    +transition(opacity, .3s, ease-out)
    background: transparent
    border: 6px solid transparent

    &:hover
      opacity: .6

    #{select-headings()}, #{select-texts()}
      +align()
      +display('boxv')
      +font('m', 'xs', 'l')
      text-transform: uppercase

    &.up
      border-bottom-color: get-color('white')
      transform-origin: bottom center

      #{select-headings()}, #{select-texts()}
        +edge(unset unset -26px -50px)
        +size(100px auto)
        text-align: center

    &.down
      border-top-color: get-color('white')
      transform-origin: top center

      #{select-headings()}, #{select-texts()}
        +edge(-26px unset unset -50px)
        +size(100px auto)
        text-align: center

    &.right
      border-left-color: get-color('white')
      transform-origin: left center

      #{select-headings()}, #{select-texts()}
        +edge(-13px 12px unset unset)
        +size(auto 26px)
        text-align: right

    &.left
      border-right-color: get-color('white')
      transform-origin: right center

      #{select-headings()}, #{select-texts()}
        +edge(-13px unset unset 12px)
        +size(auto 26px)
        text-align: right

  &.tag
    +padding(0px 12px)
    +transition(backgorund, .3s, ease-out)
    background: get-color('white')
    border-radius: 4px

    #{select-headings()}, #{select-texts()}
      +font('m', 'xs', 'l')
      +transition(color, .3s, ease-out)
      color: get-color('black')

    &:hover
      background: get-color('black')

      #{select-headings()}, #{select-texts()}
        color: get-color('white')

  &.dot
    +size(5px, true)
    background: get-color('white')
    overflow: visible

  &.post
    +padding(15px 20px)
    +size(100px auto)
    +transition(border, .3s, ease-out)
    background: transparent
    border: 1px solid get-color('white', .1)

    #{select-icons()}
      +size(15px)

    #{select-headings()}, #{select-texts()}
      color: get-color('white')
      text-transform: capitalize

    &:hover
      border: 1px solid get-color('white')

    &.prev
      +display('box<', right center)

      #{select-icons()}
        +margin(null null null 10px)

    &.next
      +display('box>', left center)

      #{select-icons()}
        +margin(null 10px null null)

