// (c) Andrew Wei

+buttons()
  &.home
    +size(30px)
    svg
      +size(100%)
      circle
        +transition(all, .3s, ease-out)
        fill: get-color('white')

  &.grid
    +size(18px)
    +transition(opacity, .3s, ease-out)

    +state('hover')
      opacity: .6

  &.mouse
    +display('boxv')
    +size(45px)
    background: transparent

    &::before
      +align()
      +mask()
      +size(100%, true)
      +transition(transform, .4s, cubic-bezier(.17,.67,.3,1.23))
      background: get-color('white')
      content: ''
      transform: scale(0)
      transform-origin: center
      z-index: -1

    +labels()
      +font('m', 'xs', 'l')
      +margin(null null 3px null)
      +transition(transform opacity, .4s, cubic-bezier(.17,.67,.3,1.23))
      color: get-color('black')
      opacity: 0
      text-transform: uppercase
      transform: translate3d(0, 20px 0)

    svg
      +size(15px auto)

      .body,
      .wheel
        +transition(fill, .3s, cubic-bezier(.17,.67,.3,1.23))
        fill: get-color('white')

    +state('hover')
      +labels()
        opacity: 1
        transform: translate3d(0, 0, 0)

      svg
        .body
          fill: get-color('black')
        .wheel
          fill: get-color('red')
          +animation(mouse-wheel-pulse, 1s, ease-out, 0s, infinite)
            @keyframes mouse-wheel-pulse
              0%
                transform: translate3d(0, 0, 0)
              20%
                transform: translate3d(0, 20px, 0)
              30%
                transform: translate3d(0, 0, 0)


      &::before
        transform: scale(1)

  &.cancel
    +size(20px)
    +transition(opacity, .3s, ease-out)
    background: transparent

    +state('hover')
      opacity: .6

  &.arrow
    +size(15px)
    background: transparent

  &.triangle
    +size(0px)
    +transition(opacity, .3s, ease-out)
    background: transparent
    border: 6px solid transparent

    +state('hover')
      opacity: .6

    +labels()
      +align()
      +display('boxv')
      +font('m', 'xs', 'l')
      text-transform: uppercase

    &.up
      border-bottom-color: get-color('white')
      transform-origin: bottom center

      +labels()
        +edge(unset unset -26px -50px)
        +size(100px auto)
        text-align: center

    &.down
      border-top-color: get-color('white')
      transform-origin: top center

      +labels()
        +edge(-26px unset unset -50px)
        +size(100px auto)
        text-align: center

    &.right
      border-left-color: get-color('white')
      transform-origin: left center

      +labels()
        +edge(-13px 12px unset unset)
        +size(auto 26px)
        text-align: right

    &.left
      border-right-color: get-color('white')
      transform-origin: right center

      +labels()
        +edge(-13px unset unset 12px)
        +size(auto 26px)
        text-align: right

  &.tag
    +padding(3px 12px)
    +transition(backgorund, .3s, ease-out)
    background: get-color('white')
    border-radius: 4px

    +labels()
      +font('m', 'xs', 'l')
      +transition(color, .3s, ease-out)
      color: get-color('black')

    +state('hover')
      background: get-color('black')

      +labels()
        color: get-color('white')

  &.dot
    +size(5px, true)
    background: get-color('white')
    overflow: visible

    // +animation(dot-pulse, 1s, ease-out, 0s, infinite)
    //   @keyframes dot-pulse
    //     0%
    //       transform: scale(1)
    //     50%
    //       transform: scale(1.2)
    //     100%
    //       transform: scale(1)

