// (c) Andrew Wei

+element('global-nav')
  +pointable(false)

  +buttons()
    +pointable(true)

  +button('home-button')
    +align(top center)
    +edge(10px null null null)
    transform: translate3d(0, -100px, 0)

  +button('grid-button')
    +align(top center)
    +edge(10px null null null)
    transform: translate3d(0, -100px, 0)

  +button('logs-button')
    +align(bottom center)
    +edge(null null 10px null)
    transform: translate3d(0, 100px, 0)

  +button('up-button')
    +align(top center)
    display: none

  +button('down-button')
    +align(bottom center)
    +edge(null null 10px null)
    display: none

  +button('right-button')
    +align(right center)
    +edge(null 10px null null)
    display: none

  +button('left-button')
    +align(left center)
    +edge(null null null 10px)
    display: none
