// © Andrew Wei

+element('global-nav')
  +pointable(false)

  #{select-buttons()}
    +pointable(true)

  +name('home-button')
    +align(top center)
    +edge(10px null null null)
    transform: translate3d(0, -100px, 0)

  +name('grid-button')
    +align(top center)
    +edge(10px null null null)
    transform: translate3d(0, -100px, 0)

  +name('logs-button')
    +align(bottom center)
    +edge(null null 10px null)
    transform: translate3d(0, 100px, 0)

  +name('up-button')
    +align(top center)
    display: none

  +name('down-button')
    +align(bottom center)
    +edge(null null 10px null)
    display: none

  +name('right-button')
    +align(right center)
    +edge(null 10px null null)
    display: none

  +name('left-button')
    +align(left center)
    +edge(null null null 10px)
    display: none
