+element('log-entry')
  +transition(background, .4s, ease-out)
  background: get-color('dark-grey')

  .wrapper
    +padding(40px 30px)
    +size(100%)

  #{select-headings()}, #{select-texts()}
    &.title
      +h3
      color: get-color('white')
      letter-spacing: 0px
      text-transform: none
      line-height: 1.26em

    &.date
      +align(bottom left)
      +edge(null null 40px 30px)
      +p3
      color: get-color('grey')

    &.number
      +size(auto 80px)
      +align(bottom right)
      +edge(null 15px 15px null)
      +title
      color: get-color('grey', .2)

  &:hover
    background: get-color('black')
