// (c) Andrew Wei

+element('name-card')
  +min-size(250px 0)

  section
    +transition(opacity transform, .8s, cubic-bezier(.17,.67,.17,1.2))
      opacity: 0
      transform: translate3d(-100px, 0px, 0px)

      @for $i from 1 through 4
        &:nth-of-type(#{$i})
          transition-delay: #{.1 * ($i - 1)}s

  section.logo
    +padding(10px 0)

    svg
      +size(70px)
      +overflow(visible)
      transform: translate3d(0, 0, 0)

      *
        fill: get-color('white')
        transform-origin: center

  section.name
    +labels()
      +display('(block)')

      &.full-name
        +font('ss', 'l', 'l')
        letter-spacing: 1px
        text-transform: uppercase

  section.position
    +labels()
      +display('block')
      +font('ss', 'xs', 'n')
      color: get-color('dark-grey')
      line-height: 1.4em
      text-transform: none

  section.connect
    +padding(20px 0)
    +buttons()
      +size(20px)
      +space-between(12px)
      background: transparent

      +transition(transform opacity, .8s, cubic-bezier(.29,1.48,.24,.96))
        +state('hover')
          opacity: .6

  +state('active')
    section
      opacity: 1
      transform: translate3d(0, 0, 0)
