// (c) Andrew Wei

+element('name-card')
  +min-size(250px 0)

  section
    +transition(opacity transform, .8s, cubic-bezier(.17,.67,.17,1.2))
      opacity: 0
      transform: translate3d(-100px, 0px, 0px)

      @for $i from 1 through 4
        &:nth-of-type(#{$i})
          transition-delay: #{.1 * ($i - 1)}s

  section.logo
    +padding(10px 0)

    +icons()
      +size(70px)

  section.name
    +labels()
      +display('(block)')

      &.codename
        +margin($left:5px)
        +font('ss', 's', 'n')
        color: get-color('dark-grey')

  section.position
    +labels()
      +font('ss', 'd', 'n')
      color: get-color('dark-grey')

  section.connect
    +padding(20px 0)
    +buttons()
      +size(20px)
      +space-between(12px)
      backface-visibility: hidden
      background: transparent

      +transition(transform opacity, .8s, cubic-bezier(.29,1.48,.24,.96))
        transform: rotateY(0deg)

        +state('hover')
          opacity: .6
          transform: rotateY(-20deg)

  +state('active')
    section
      opacity: 1
      transform: translate3d(0, 0, 0)




