//- (c) Andrew Wei

extends /layouts/page
include /includes/nav-button

append vars
  -
    title = `404`;
    nav = {
      home: '/',
      logs: '/logs/'
    }

block page
  div(is='page-base' name='page')
    +nav-button('down', '/logs/')
    +nav-button('up', '/')
    h1= __('404')
    p= __('404-message')
