//- (c) Andrew Wei

extends /layouts/page

append vars
  -
    title = `500`;
    nav = {
      home: '/',
      logs: '/logs/'
    }

block page
  div(is='page-base' name='page')
    +nav-button('down', '/logs/')
    +nav-button('up', '/')
    h1= __('500')
    p= __('500-message')
