//- (c) Andrew Wei

extends /layouts/page
include /includes/components/log-entry

block page
  div(is='page-logs' name='page')
    div.grid
      each entry in Array(6)
        +log-entry()(name='entry')
