//- (c) Andrew Wei

extends /layouts/page
include /includes/button

append vars

block page
  div(is='page-log' name='page')
    div(name='cover')
      if cover
        figure(name='background' style=`background-image:url(${cover})`)
    div(name='blank')
      div(name='title')
        h1= title
        span(name='date' type='label')= m(date).format('MMM DD YYYY')
        if tags && tags.length
          div(name='tags')
            each tag in tags
              +button({ label: tag, href: `/logs/${tag}/` }).tag
    div(name='contents')
      != body
      div(name='footer')
