//- (c) Andrew Wei

extends /layouts/page
include /includes/button

append vars

block page
  div(is='page-log' name='page')
    div#inner-page
      div(name='header')
        div(name='info')
          h1(name='title')= title
          span(name='date' type='label')= m(date).format('MMM DD YY')
          if tags && tags.length
            div(name='tags')
              each tag in tags
                +button({ label: tag, href: `/logs/${tag}/` }).tag
      div(name='contents')
        != body
        div(name='footer')
