extends /layouts/page
include /includes/log-entry
include /includes/nav-button

append vars
  - title = 'Logs';
  -
    nav = {
      home: '/'
    };

block page
  page-logs(id='logs' name='page')
    +nav-button('right', pagination.next && pagination.next.path)
    +nav-button('left', pagination.previous && pagination.previous.path)
    div#inner-page
      if tag
        div.tags(name='tags')
          +button({ label: tag, href: `/logs/tag/${tag}/`})(disabled=true).tag
          +button({ iconClass: 'cancel', href: `/logs/` }).cancel
      if pagination && pagination.files && pagination.files.length
        div.grid
          each entry, index in pagination.files
            +log-entry(entry)(name='entry')
      else if $data.log
        div.grid
          each entry, index in $data.log
            +log-entry(entry)(name='entry')
