//- (c) Andrew Wei

extends /layouts/page
include /includes/button
include /includes/log-entry

append vars
  - title = 'Logs'
  -
    nav = {
      up: '/',
      home: true,
      left: pagination.previous && pagination.previous.path,
      right: pagination.next && pagination.next.path
    }

block page
  div(is='page-logs' name='page')
    if tag
      div.tags
        +button({ href: `/logs/${tag}`}).tag= tag
        +button({ iconClass: 'cancel', href: `/logs/` }).cancel

    if pagination && pagination.files && pagination.files.length
      div.grid
        each entry in pagination.files
          +log-entry(entry)(name='entry')

    if pagination && pagination.pages && pagination.pages.length
      div.paginator
        each page, i in pagination.pages
          +button({ href: page.path })(state=(i === pagination.index) && 'active').dot
