//- (c) Andrew Wei

extends /layouts/page
include /includes/button
include /includes/log-entry

append vars
  - title = 'Logs'
  -
    nav = {
      up: !tag && '/',
      home: '/',
      left: pagination.previous && pagination.previous.path,
      right: pagination.next && pagination.next.path
    }

block page
  div(is='page-logs' name='page')
    div#inner-page
      if tag
        div.tags(name='tags')
          +button({ label: tag, href: `/logs/${tag}/`})(disabled=true).tag
          +button({ iconClass: 'cancel', href: `/logs/` }).cancel

      if pagination && pagination.files && pagination.files.length
        div.grid
          each entry in pagination.files
            +log-entry(entry)(name='entry')
