//- (c) Andrew Wei

extends /layouts/page
include /includes/button
include /includes/log-entry

append vars
  - title = 'Logs'
  -
    nav = {
      up: !tag && '/',
      home: true,
      left: pagination.previous && {
        label: __('prev'),
        href: pagination.previous.path
      },
      right: pagination.next && {
        label: __('next'),
        href: pagination.next.path
      }
    }

block page
  div(is='page-logs' name='page')
    if tag
      div.tags(name='tags')
        +button({ label: tag, href: `/logs/${tag}/`})(disabled=true).tag
        +button({ iconClass: 'cancel', href: `/logs/` }).cancel

    if pagination && pagination.files && pagination.files.length
      div.grid
        each entry in pagination.files
          +log-entry(entry)(name='entry')

    if pagination && pagination.pages && pagination.pages.length
      div.paginator(name='paginator')
        each page, i in pagination.pages
          +button({ href: page.path })(state=(i === pagination.index) && 'active').dot
