//- (c) Andrew Wei

extends /layouts/base
include /includes/common/button
include /includes/components/global-nav
include /includes/components/name-card

block body
  +global-nav()(name='global-nav')

  div(is='page-profile' name='profile')
    +name-card()(name='name-card')

  main(id='page')
    block page
